/* @font-face {
    font-family: 'Aspekta';
    src: url('../fonts/Apekta/Aspekta-400.ttf') format('truetype')
         /* url('../fonts/aspekta.woff') format('woff'); */
  /* } */

  /* Below NavBar */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 0px 0px 64px;
    gap: 48px;
    position: absolute;
    width: 1214px;
    height: 649px;
    left: 113px;
    top: 47px;
    background: #E4F3E0;
    border-radius: 0px 0px 56px 56px;
    z-index: -1;
}

.nav-contents {
    width: 1000px;
    height: 500px;
}

.nav-heading {
    /* position: relative;
    bottom: 60%; */
    width: 702px;
    height: 68px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #004346;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-content {
    width: 702px;
    height: 120px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #0C1E11;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 8px;
    width: 153px;
    transition: width 0.4s ease-in-out;
    height: 48px;
    background: #004346;
    border-radius: 64px;
    border: none;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #B2ECA1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-button:hover .arrow-vector {
    display: block;
    position: relative;
    left: 10px;
}

.nav-button:hover {
    width: 25%;
}

.nav-image {
    width: 400px;
    height: 569px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* OUR SERVICES */

.our-services-container {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    padding: 80px;
    gap: 64px;

    position: absolute;
    width: 1440px;
    height: 1108px;
    left: 0px;
    top: 792px;
    background: #004346;
}
.our-services {
    position: absolute;
    left: 45%;
    padding-bottom: 50px;
}

.our-services-container h1 {
    width: 149px;
    height: 21px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.18em;
    color: #FDE8CD;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.our-services-image h1 {
    width: 433px;
    height: 68px;
    margin-top: 100px;

    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 130%;
    color: #B2ECA1;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.services-image {
    position: absolute;
    width: 493px;
    height: 714px;
    left: 0px;
    top: 100px; 
}

.our-services-content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-services-content h2 {
    width: 265px;
    height: 35px;

    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 50px !important;
}

.our-services-content p {
    width: 607px;
    height: 84px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #B5D6C8;

    position: relative;
    top: 10px;
}

.our-services-content a {
    width: 84px;
    height: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #15B779;
    text-decoration: none;
    /* margin-top: 50px !important; */
} 

/* Text below OUR SERVICES */

.manage-text h1 {
    position: absolute;
    width: 941px;
    height: 120px;
    left: 250px;
    top: 2017px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #004346;
}



.italics {
    font-style: italic;
    font-weight: 200px !important;
}

/* PROJECTS */

.projects-outer {
    position: absolute;
    top: 2200px;
    left: 175px;
    width: 1214px;
    height: 649px;
    background-color: rgb(222, 221, 221);
    border-radius: 65px;
}

.projects-inner {
    position: relative;
    top: 25px;
    left: 35px;
    width: 1150px;
    height: 600px;
    border-radius: 65px;
    border: 2px solid black;
    background-color: white;
}

.equality-card {
    width: 370px;
    height: 220px;
    position: relative;
    top: 75px;
    left: 150px;
    border: 1px solid grey;
    border-radius: 20px;
}

.equality-card h3 {
    position: relative;
    left:25px;
    top:25px;
    width: 78px;
    height: 27px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 600;
    font-size: 20.3881px;
    line-height: 130%;
    color: #191A19;
}

.equality-card h1 {
    position: relative;
    top: 35px;
    left: 17.5px;
    width: 122px;
    height: 45px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 500;
    font-size: 34.4049px;
    line-height: 130%;
    color: #191A19;
}

.equality-card p {
    position: relative;
    top: 55px;
    left: 65px;
}

.analytics-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 4px;
    position: absolute;
    width: 225px;
    height: 64px;
    left: 104px;
    top: 2680px;
    background: #FFFFFF;
    border: 1px solid #44554E;
    border-radius: 16px;
    z-index: 2;
}

.analytics-card h1, .assessment-card h1{
    width: 93px;
    height: 27px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 130%;
    color: #191A19;
}

.assessment-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 4px;
    position: absolute;
    width: 254px;
    height: 64px;
    left: 946px;
    top: 2801px;
    background: #FFFFFF;
    border: 1px solid #44554E;
    border-radius: 16px;
    z-index: 2;
}

.analytics-image {
    position: absolute;
    width: 299px;
    height: 175.39px;
    left: 132px;
    top: 2484px;
    z-index: 3;
}

.ellipse-1 {
    box-sizing: border-box;
    position: absolute;
    width: 16.57px;
    height: 16.57px;
    left: 185.86px;
    top: 2594.48px;
    /* background: #E2C2F1; */
    /* border: 1px solid #000000; */
    z-index: 4;
}

.ellipse-2 {
    box-sizing: border-box;
    position: absolute;
    width: 16.57px;
    height: 16.57px;
    left: 307.39px;
    top: 2528.88px;
    /* background: #B8C6F5; */
    /* border: 1px solid #000000; */
    z-index: 4;
}


.curve-3 {
    position: absolute;
    /* left: 0%;
    right: 13.21%;
    top: 14.41%;
    bottom: -1.21%; */
    transform: rotate(-9.56deg);
    left: 20px;
    top:400px;
}

.curve-2 {
    position: absolute;
    left: 18.75%;
    right: 27.67%;
    top: 28.75%;
    bottom: 17.67%;
    transform: rotate(-10.24deg);
}

.curve-1 {
    position: absolute;
    left: 33.43%;
    right: 33.7%;
    top: 33.9%;
    bottom: 33.23%;
}

.curve-2:hover{
  transform: rotate(-45deg);
  animation: rotate1 2s infinite linear;
}

@keyframes rotate1 {
    to {
        transform: rotate(315deg);
    }
}


.curve-1:hover {
    transform: rotate(315deg);
    animation: rotate2 2s infinite linear;
}

@keyframes rotate2 {
    to {
        transform: rotate(-45deg);
    }
}


/* Signup and Login Section */

.signup-login-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 72px;
    gap: 24px;
    position: absolute;
    width: 925px;
    height: 155px;
    left: 258px;
    top: 2940px;
    background: #D3F3C9;
    border: 1px solid #004346;
    border-radius: 24px;
}

.signup-login-section h1 {
    width: 781px;
    height: 35px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    color: #0C1E11;
    /* justify-content: center; */
}

.login-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: width 0.4s ease-in-out;
    padding: 8px 32px;
    gap: 8px;
    width: 106px;
    height: 48px;
    background: #004346;
    border-radius: 64px;   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #B2ECA1;
    border: none;
}

.login-btn:hover .arrow-vector{
    display: block;
    position: relative;
    left: 10px;
}

.login-btn:hover {
    width: 50%;
}

.signup-btn {
    width: 58px;
    height: 21px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #004346;
    text-decoration: none;
}

.sign-log-btns {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
}

/* CONTACT US */

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 64px 0px;
    gap: 128px;
    position: absolute;
    width: 1440px;
    height: 1000px;
    /* left: 0px; */
    top: 3159px;
    background: #FFFFFF;
}

.contact-info h1 {
    width: 245px;
    height: 60px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: #433520;
}

.contact-info p {
    /* width: 157px; */
    height: 27px;
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
    color: #191A19;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
    width: 696px;
    height: 715px;
    background: #FDE8CD;
    border-radius: 12px;
}

/* ================================================================ */
.form-group {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button[type="submit"] {
    display: block;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FDE8CD;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
  
  button[type="submit"] {
    background-color: #004346;
    color: #B2ECA1;
    /* border-color: #007bff; */
    border-radius: 64px;
    width: 179px;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  button[type="submit"]:focus {
  }
  
/* ================================================================= */

.subscription-plans-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 128px;
    position: absolute;
    width: 1440px;
    height: 1059px;
    left: 0px;
    top: 3900px;
    background: #FFFFFF;
}

.choose-right-plan {
    position: relative;
    top: 175px;
    width: 1440px;
}

.choose-right-plan h1 {
    position: absolute;
    left: 250px;
    width: 945px;
    height: 52px;
    font-family: 'Aspekta';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    color: #000000;
}

.card-1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 50px;
    position: relative;
    justify-content: space-around;
    /* width: 350px; */
    height: fit-content;
    left: 0px;
    top: 179px;
    background: #E4F3E0;
    border-radius: 24px;
    margin-right: 100px;
    margin-left: auto;
 
}

.card-1 h1 {

}

.service-tag {
    position: relative;
    right:85px;
    width: 99px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
}

.duties-tag {
    position: relative;
    bottom: 60px;
    width: 270px;
    height: 21px;
    /* font-family: 'Aspekta'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}

.plans-container {
    display: flex;
    height: -moz-fit-content;
    /* height: fit-content; */
    /* align-items: center; */
    justify-content: center;
    /* align-content: center;*/
}



/* FOOTER */


.arrow-vector {
    display: none;
    /* opacity: 0; */
}



