span {
    font-weight: 500 !important;
}

/* p {
    line-height: 130%;
} */

.option-container {
    gap: 100px !important;
}

/* .details-of-company {
    width: 100%;
    align-items: center;
    justify-content: center;
} */
