span {
    font-weight: 500 !important;
}

.option-container {
    gap: 100px !important;
}

.company-details {
    /* gap: 230px; */
}

.next-btn {
    padding: 8px 32px;
    border-radius: 80px;
    width: 100px;
    height: 48px;
}

.btn-container {
    position: relative;
    bottom:10em;
}


